:root {
        --ic-brand-primary-darkened-5: #0094D8;
--ic-brand-primary-darkened-10: #008CCD;
--ic-brand-primary-darkened-15: #0084C1;
--ic-brand-primary-lightened-5: #0CA0E4;
--ic-brand-primary-lightened-10: #19A5E5;
--ic-brand-primary-lightened-15: #26AAE7;
--ic-brand-button--primary-bgd-darkened-5: #0094D8;
--ic-brand-button--primary-bgd-darkened-15: #0084C1;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #009be3;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #e22929;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #e22929;
--ic-brand-header-image: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_26940000000000001/attachments/527247/_UST%20Canvas%20New%20UI%20logo%20final%20200x200.svg?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1937765434&Signature=6hujtxxrQzgPU0%2BTcbp4yio1kzY%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_26940000000000001/attachments/527248/favicon.ico?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1937765434&Signature=CacyK8h8ok7V%2B3QUk6%2F1zIhKLww%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_26940000000000001/attachments/527249/HKUST_Canvas_login_background.svg?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1937765434&Signature=%2BlTwgsOp58zj%2FtR3qErhYsyLyCU%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-shadow-color: #ffeaea;
--ic-brand-Login-logo: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_26940000000000001/attachments/527250/HKUST_Canvas_login_form_logo.svg?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1937765434&Signature=ZSa3mz11lfJzM5OctYjJYjKv2Ks%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: #e22929;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: #e22929;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }